#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    overflow: hidden;
}

#drop-area {
    width: 90%;
    height: 90%;
    border-radius: 10px;
    border: 2px dashed var(--text-color);
    background-color: var(--bg-color);
    opacity: 0.5;
    z-index: 100000;
    cursor: pointer;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    display: none;
}

#drop-text {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-45%, -45%);
    font-size: 2.5vw;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    z-index: 1001;
    opacity: 0.9;
    user-select: none;
    /* make it so it doesn't interfere with onDragLeave */
    pointer-events: none;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 80%;
    user-select: none;
    background-color: var(--bg-color);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--bg-color);
    opacity: 1;
    z-index: -99;
    transition: all 0.4s ease-in-out;
}

#upload-file {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* display: none doesn't work for some reason */
    opacity: 0;
}

#upload-button {
    position: absolute;
    width: 10%;
    height: 10%;
    top: 10%;
    left: 7%;
    transform: translate(-50%, -50%);
    z-index: 1001;
}

#upload-file-fake {
    display: block;
    position: absolute;
    z-index: 1001;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    user-select: none;
    background-color: var(--accent-color);
    border-radius: 5px;
    border: none;
    color: var(--text-on-accent-color);
    font-size: 1vw;
    cursor: pointer;
}

#json-container {
    /* to the right of the content */
    position: absolute;
    top: 0;
    left: 30%;
    width: 70%;
    height: 100%;
}

#editor {
    width: 100%;
    height: 100%;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ace_editor,
.ace_gutter,
.ace_layer,
.ace_print-margin,
.ace_gutter-active-line,
.ace_scroller {
    transition: background-color 0.4s ease-in-out;
}

#filename {
    color: var(--text-on-accent-color);
    /* position it below the upload button */
    position: absolute;
    top: 18%;
    left: 2%;
    font-size: 0.3vw;
    font-family: 'Roboto', sans-serif;
    z-index: 1001;
    background-color: var(--accent-color);
    border-radius: 5px;
    padding: 1px 5px 1px 5px;
    display: none;
}

#download-button {
    /* bottom left */
    position: absolute;
    left: 2%;
    width: auto;
    height: 10%;
    bottom: 4%;
    border-radius: 5px;
    border: none;
    background-color: var(--accent-color);
    color: var(--text-on-accent-color);
    font-size: 1vw;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    display: none;
    padding: 0 10px 0 10px;
}
